#sidebar-region.large-3.medium-4.small-12.columns
  .js-categories.show-for-medium-up
  .js-most-viewed.show-for-medium-up
  .js-popular-tags.show-for-medium-up
#content-region.large-9.medium-8.columns
