#sidebar-region.large-3.small-12.columns
  .panel
    %h3 Categories
    %h5.subheader
      %ul
        %li 
          %a{ :href => "#" }
            Category 1
        %li 
          %a{ :href => "#" }
            Category 2
        %li 
          %a{ :href => "#" }
            Category 3
  .panel.callout.radius
    %h6 most viewed
    %h6.subheader Video
  .panel.callout.radius
    %h6 popular tags
    %h6.subheader #tag1 #tag2 #tag3
.large-9.columns
  .large-3.small-6.columns.left
    %img{:src => "http://placehold.it/1000x1000&text=Thumbnail"}/
    .panel
      %h5 Video
      %h6.subheader #tag1 #tag2 #tag3
  .large-3.small-6.columns.left
    %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
    .panel
      %h5 Video
      %h6.subheader #tag1 #tag2 #tag3
  .large-3.small-6.columns.left
    %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
    .panel
      %h5 Video
      %h6.subheader #tag1 #tag2 #tag3
  .large-3.small-6.columns.left
    %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
    .panel
      %h5 Video
      %h6.subheader #tag1 #tag2 #tag3
  .large-3.small-6.columns.left
    %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
    .panel
      %h5 Video
      %h6.subheader #tag1 #tag2 #tag3
  .large-3.small-6.columns.left
    %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
    .panel
      %h5 Video
      %h6.subheader #tag1 #tag2 #tag3
